{% extends 'admin_base.html.twig' %}

{% block title %}Hello dssd!{% endblock %}

{% block body %}
    <div id="wrapper">
        {% include 'admin/common/sidebar.html.twig' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'admin/common/header.html.twig' %}
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">All Category</h1>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            {% include 'admin/common/footer.html.twig' %}
        </div>
    </div>
{% endblock %}
